/.idea/
.DS_Store
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
build

.vscode/
app/release

*.log

app/google-services.json

app/src/main/res/values/developer-config.xml